# Файлы с настройками Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Файлы логов
*.log

# Файлы временного хранения
*.tmp
*.temp
*.swp

# Файлы среды разработки MonoDevelop
*.pidb
*.userprefs

# Файлы мусора MacOS
*.DS_Store

# Файлы, специфические для пользователей
*.suo
*.user
*.sln.docstates

# Результаты сборки
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Файлы MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Файлы ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Папка Click-Once
publish/

# Файлы публикации веб-вывода
*.Publish.xml
*.pubxml
*.azurePubxml

# Файлы сборки Windows Azure
csx/
*.build.csdef

# Директория пакетов Windows Store
AppPackages/

# Другие
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml

# Файлы проектов RIA/Silverlight
Generated_Code/

# Файлы отчетов о обновлении старых версий проектов до новых версий Visual Studio
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Файлы SQL Server
App_Data/*.mdf
App_Data/*.ldf

# Файлы системы Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Файлы системы MacOS
.DS_Store

# Файлы и директории, связанные с .NET Core
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.deps.json

# Файлы и директории, созданные JetBrains Rider
.idea/

# Файлы и директории, созданные NuGet
packages/

# Файлы и директории, созданные Node.js
node_modules/
